<div class="jumbotron">
  <h2> What's the movie about?</h2>
  <h3> Explore your favorite or currently showing in theater movies. <br>
    Leave reviews, ratings for your fellow movie lover! And VOTE for similar movies. </h3>
  </div>
  <div class="center">
    <div class="row">
      <% @movies.each do |movie| %>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <div class="thumbnail">
          <%= image_tag movie.picture_url if movie.picture.present? %>
          <div class="caption">
            <h4><%= link_to movie.title, movie  %></h4>
            <p>
              <% if user_signed_in? && current_user.admin? %>
              <%= link_to 'Edit', edit_movie_path(movie), class: "btn btn-link" %>
              <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
              <% end %> 
            </p>
          </div>
        </div>
      </div>  

      <% end %>
    </div>
  </div>

  <br>

  <% if user_signed_in? && current_user.admin? %>
  <%= link_to 'New Movie', new_movie_path, class: "btn btn-link" %>
  <% end %>
