
<div class="row">
  <div class="col-md-3">

    <div class="img-thumbnail">
      <%= image_tag(@movie.picture_url) if @movie.picture.present? %>
    </div>


    <p>
      <strong>Title:</strong>
      <%= @movie.title %>
    </p>
    
    <p>
      <strong>Year:</strong>
      <%= @movie.year %>
    </p>

    <p>
      <strong>Actor:</strong>
      <%= @movie.actor %>
    </p>
    
    <div class="star-rating" data-score= <%= @avg_rating %> ></div>
    <p> <%= "#{@reviews.length} reviews" %> </p>


    <p>
      <strong>Description:</strong>
      <%= @movie.description %>
    </p>
    

    <p>
      <strong>Raiting:</strong>
      <%= @movie.raiting %>
    </p>

    <p>
      <strong>Genre:</strong>
      <%= @movie.genre %>
    </p>

    <%= link_to "Write a Review", new_movie_review_path(@movie), class: "btn btn-primary" %>

  </div>
  <div class="col-md-9">
    <% if @reviews.blank? %>
    <h3> No reviews yet. Be the first one to write one! </h3>
    <% else %>
    <table class="table">
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td>
          <div class="star-rating" data-score= <%= review.rating %> ></div>
          <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
   <% end %>
  </div>

</div>


<%= link_to 'Edit', edit_movie_path(@movie), class: "btn btn-link" %> |
<%= link_to 'Back', movies_path, class: "btn btn-link" %>

<script type="text/javascript">
   $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/funkyflick1/stars',
    readOnly: true,
    score: function() {
     return $(this).attr('data-score');
  }
   });
</script>   