
<div class="row">
  <div class="col-md-3">

    <div class="img-thumbnail img-responsive">
      <%= image_tag(@movie.picture_url) if @movie.picture.present? %>
    </div>


    
  </div>
  
  <div class="col-md-9">
    <p>
      <strong>Title:</strong>
      <%= @movie.title %>
    </p>
    
    <p>
      <strong>Year:</strong>
      <%= @movie.year %>
    </p>

    <p>
      <strong>Stars:</strong>
      <%= @movie.actor %>
    </p>
    
    <div class="star-rating" data-score= <%= @avg_rating %> ></div>
    <p> <%= "#{@reviews.length} reviews" %> </p>


    <p>
      <strong>Description:</strong>
      <%= @movie.description %>
    </p>
    

    <p>
      <strong>IMDB Raiting:</strong>
      <%= @movie.raiting %>
    </p>

    <p>
      <strong>Genre:</strong>
      <%= @movie.genre %>
    </p>

    <%= link_to "Write a Review", new_movie_review_path(@movie), class: "btn btn-primary" %>

    <br>
    
    <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_movie_path(@movie), class: "btn btn-link" %> 
    <% end %>
    
    <br>


    <% if @reviews.blank? %>
    <h3> No reviews yet. Be the first one to write one! </h3>
    <% else %>
    <table class="table">
      <thead>
        <tr>
         <th class="col-md-3"> </th>
         <th class="col-md-9"> </th>
       </tr>
     </thead>

     <tbody>
      <% @reviews.each do |review| %>
      <tr>
       <td> 
        <h4>
          <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
        </h4>
        <p> <%= review.created_at.strftime("%-m/%-d/%-y") %> </p>
      </td>
      <td>
        <div class="star-rating" data-score= <%= review.rating %> ></div>
        <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>

        <% if user_signed_in? %>
        <% if (review.user == current_user) || (current_user.admin?) %>
        <%= link_to "Edit", edit_movie_review_path(@movie, review) %> |
        <%= link_to "Delete", movie_review_path(@movie, review), method: :delete %>
        <% end %>  
        <% end %>

      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</div>
</div>
<div class="container">
<div class="row">
  <div class="col-md-12">
    <%= link_to "Add Similar Movie", new_movie_similarity_path(@movie), class: "btn btn-success space" %>
  </div>



  <% @similarities.each do |similarity| %>
  <div class="row space">
  <div class="col-md-2">
    <%= image_tag similarity.image_url, :width => '100', class: "img-thumbnail" if similarity.image.present? %>
  </div>

  <div class="col-md-10">   

    <h4> 

    <%= similarity.name %>
    </h4>
    <p>
    <strong>Star:</strong> 
    <%= similarity.actor %> 
    </p>
    <p> 
    <strong>Why is it similar?</strong> 
    <%= similarity.why %>
    <% if user_signed_in? %>
        <% if (similarity.user == current_user) || (current_user.admin?) %>
        <%= link_to "Edit", edit_movie_similarity_path(@movie, similarity) %> |
        <%= link_to "Delete", movie_similarity_path(@movie, similarity), method: :delete %>
        <% end %>  
        <% end %>

    </p>
  </div>
  </div>
  <% end %>

</div>
</div>




<script type="text/javascript">
 $('.star-rating').raty({
  path: 'https://s3.amazonaws.com/funkyflick1/stars',
  readOnly: true,
  score: function() {
   return $(this).attr('data-score');
 }
});
</script>   