<p id="notice"><%= notice %></p>



<div class="img-thumbnail img-responsive">
      
      <%= image_tag(@similarity.image_url) if @similarity.image.present? %>
    </div>

<p>
  <strong>Name:</strong>
  <%= @similarity.name %>
</p>

<p>
  <strong>Actor:</strong>
  <%= @similarity.actor %>
</p>

<p>
  <strong>Why:</strong>
  <%= @similarity.why %>
</p>

<%= link_to 'Edit', edit_similarity_path(@similarity) %> |
<%= link_to 'Back', similarities_path %>
